.foot-link{
    display: flex;
    justify-content: center;
    height: 70px;
    position: relative;
}
.foot-link>a{
    text-decoration: none;
    margin: 20px 10px;
    color:black;
    font-weight: 500;
    

}
.foot-link>a:hover{
    border-bottom: 2px solid red;
    color:red;
    
}